
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
}
header,
footer{
    background-color: white;
    padding: 10px 0px;
}
footer{
    position: fixed;
    bottom: 0;
}
main{
    margin-top: 100px;
    text-align: center;
    min-height: 500px;
}
main img{
    width: 400px;
}
.hidden{
    display: none;
}


/* proprietà casella */

.casella{
    height: 50px !important;
    width: 50px !important;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color{
    background-color:mediumpurple;
    color: white;
}
.casella:hover{
    cursor: pointer;
}

