
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
}
header,
footer{
    background-color: white;
    padding: 10px 0px;
}
main{
    min-height: 500px;
}

/* proprietà casella */
.casella{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color{
    background-color: darkgreen;
}

